/* POR HACER
Repartir mejor el espacio de pantalla con el flex
Ampliar tamaño y dar formato al texto
Integrar el header y footer cuando esten terminados, ya que son comunes en todas las paginas de la web
Añadir enlaces genericos como paypal.com para simular mejor una web funcional real*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos en la parte superior */
    height: 100%;
}

.titulo {
    text-align: left;
    color: rgb(46, 150, 219); 
    -webkit-text-stroke: 1px black; 
}


.imagenes {
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */

}

.imagenes div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre-zapatillas {
    border: 1px solid gray;
    align-items: center;
    margin: 10px;
   /* width: 20px; */
    
}
.input {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.promo-code {
    flex: 1;
    margin-right: 10px;
    height: 100%;

}
.importes {
    border: 1px solid gray;
    padding: 10px;
    text-align: right;
    align-self: flex-start; /* Alinea el elemento en la parte superior */
    margin-left: 75%;
    margin-bottom: 80%;
}


.pasarela-pago {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
}

.pasarela-pago img {
    width: 50px;
    margin-left: 10px;
}
.rrss-img{
    width: 30px;
    height: 30px;
    flex-direction: row;
}

footer{
    border-top: 4px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: 5px;
    max-height: fit-content;
    margin-top: 30px;
}

.twiteer{
    padding-top: 9px;
    padding-right: 25px;
}

.facebook{
    padding-top: 9px;
    padding-right: 25px;

}

.linkedin{
    padding-top: 9px;
    padding-right: 25px;

}

.instagram{
    padding-top: 9px;
    padding-right: 25px;

}

.texto{
    display: flex;
    justify-content: space-between;

}

.iconos{
    display: flex;
    flex-direction: row;
}